.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .6s;
}
.active, .accordion:hover {
    background-color: #ccc;
    transition: .6s;
}
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: .6s;
}
.visivel{
    max-height: 50em;
    transition: .6s;
}
.selected{
    background-color: #ccc;
    transition: .4s;
}

input#ident-var-result {
    background-color: darkgray;
}

.divi4 .valores{
    height: 150px !important;
}

input[type="radio"]{
    cursor: pointer;
}

input[type="text"], .divi4 .valores {
    display: block;
    width: 100%;
    height: 44px;
    margin: 0 0 0.2em 0;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 2px;
    color: #2e3d49;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, .05);
}
table{
    border:1px solid black;
    border-collapse: collapse;
}
th, td{
    border:1px solid black;
}
td{
    padding: 5px;
}
.dadosSelecionada{
    background-color: aliceblue;
}


.TabControl{ width:100%; overflow:hidden; height:400px}
    .TabControl #header{ width:100%; border: solid 1px; overflow:hidden; cursor:hand}
    .TabControl #content{ width:100%; border: solid 1px;overflow:hidden; height:100%; }
    .TabControl .abas{display:inline;}
    .TabControl .abas li{float:left}
    .aba{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
        text-align:center; padding-top:5px; background:#278b70c7; cursor:pointer}
    .ativa{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
        text-align:center; padding-top:5px; background:#278b70c7;}
    .ativa span, .selected span{color:#fff}
    .TabControl #content{background:#278b70c7}
    .TabControl .conteudo{width:100%;  background:#278b70c7; display:none; height:100%;color:#fff}
    .selected{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
        text-align:center; padding-top:5px; background:#278b70c7}
    
